<div class="form-group">
    <input name="fName" type="text" placeholder="First name" class="form-control" ng-model="user.fName" ng-blur="validateFormField()" autofocus required>
</div>
<div class="form-group">
    <input name="lName" type="text" placeholder="Last name" class="form-control" ng-model="user.lName">
</div>
<div class="form-group">
    <input type="email" placeholder="Email" class="form-control" ng-model="user.email" required>
</div>
<div class="form-group">
    <input name="password" type="password" placeholder="Password" class="form-control" ng-model="user.password" required>
</div>
<div class="form-group">
    <input name="password" type="password" placeholder="Confirm password" class="form-control" ng-model="user.cPassword">
</div>